{% extends "base.html" %}
{% block content %}
<h1>Edit Supplier</h1>
<br>
<p>Please re-enter details below to edit Supplier.</p>

<div class="new-form">
  <form action="/suppliers/{{supplier.id}}" method="post">

    <label for="supplier_name">Supplier Name:</label>
    <input type="text" id="supplier_name" name="supplier_name" value="{{supplier.supplier_name}}" required autofocus>

    <label for="supplier_number">Supplier Number:</label>
    <input type="text" id="supplier_number" name="supplier_number" value="{{supplier.supplier_number}}" required>

    <label for="supplier_manager">Supplier Manager:</label>
    <input type="text" id="supplier_manager" name="supplier_manager" value="{{supplier.supplier_manager}}" required>

    <label for="supplier_address"> Address:</label>
    <input type="text" id="supplier_address" name="supplier_address" value="{{supplier.supplier_address}}" required>

    <label for="supplier_phone"> Phone Number:</label>
    <input type="text" id="supplier_phone" name="supplier_phone" value="{{supplier.supplier_phone}}" required>

    <button class="submit" type="submit">Update Supplier</button>

  </form>
</div>
{% endblock %}