{% extends "base.html" %}

{% block activesupplier %}

class="active"

{% endblock %}


{% block content %}

<h1>Suppliers</h1>
<br>
<p>Suppliers are displayed on the page below, click on a Supplier to view further details about them or to edit any details. If you would like to add a new Supplier, press the button below.</p>

<section class="buttons">
  <div class="top-buttons add-transaction">
    <a href="/suppliers/new">
        <p>Add Supplier</p>
        <i class="fa-solid fa-shop fa-3x"></i>
    </a>
  </div>
  <div class="top-buttons">
    <h5>Number of Suppliers:</h5>
    <h2 class="totals">{{number_suppliers}}</h2>
  </div>
</section>

<table id="table">
  <tr>
      <th>Supplier</th>
      <th>Account No.</th>
      <th>Manager</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th></th>
  </tr>


  {% for supplier in all_suppliers %}

  <tr>
      <td><a href="/suppliers/{{supplier.id}}" class="rowlink">{{supplier.supplier_name}}</a></td>
      <td>{{supplier.supplier_number}}</td>
      <td>{{supplier.supplier_manager}}</td>
      <td>{{supplier.supplier_address}}</td>
      <td>{{supplier.supplier_phone}}</td>
      <td class="table-buttons">
        <a href="/suppliers/{{supplier.id}}/edit"><i class="fa-solid fa-pen-to-square small-icon"></i></a>
        <form class="delete-form" action="/suppliers/{{supplier.id}}/delete" method="POST"> 
          <button class="trash-button"><i class="fa-solid fa-trash-can small-icon"></i></button>
        </form>
      </td>
  </tr>

  {% endfor %}
</table>

{% endblock %}

