{% extends "base.html" %}

{% block content %}
<form action="/suppliers" method="post">
    <div>
      <label for="supplier_name">Supplier Name:</label>
      <input type="text" id="supplier_name" name="supplier_name" placeholder="Supplier Name" required autofocus>
    </div>
  
    <div>
      <label for="supplier_number">Account Number:</label>
      <input type="text" id="supplier_number" name="supplier_number" placeholder="Supplier Account Number" required>
    </div>
  
    <div>
        <label for="supplier_manager">Account Manager:</label>
        <input type="text" id="supplier_manager" name="supplier_manager" placeholder="Supplier Account Manager" required>
    </div>

    <div>
      <label for="supplier_address"> Address:</label>
      <input type="text" id="supplier_address" name="supplier_address" placeholder="Supplier Address" required>
    </div>

    <div>
      <label for="supplier_phone"> Phone Number:</label>
      <input type="text" id="supplier_phone" name="supplier_phone" placeholder="Supplier Phone Number" required>
    </div>
  
    <button class="submit" type="submit">Add Supplier</button>
  
  </form>
{% endblock %}