{% extends "base.html" %}

{% block content %}

  <div>
    <p>{{supplier.supplier_name}}</p>
    <hr>
    <p>Account Number: {{supplier.supplier_number}}</p>
    <p>Account Manager: {{supplier.supplier_manager}}</p>
    <p>Address: {{supplier.supplier_address}}</p>
    <p>Phone: {{supplier.supplier_phone}}</p>
    <p><a href="/suppliers/{{supplier.id}}/edit">Edit</a></p>
  </div>

  <hr>

  {% for transaction in transactions %}
    <div class="display-entries">
      <div class="content">
        <a href="/transactions/{{transaction.id}}">{{transaction.product}}</a>
        <div class="description">
          <a href="/suppliers/{{transaction.supplier.id}}">{{transaction.supplier.supplier_name}}</a>
        </div>
  
        <p>PO Number: {{transaction.po_number}}</p>
        <p>Price: £{{transaction.price}}</p>
        <p>Order Date: {{transaction.date}}</p>
        
        
        <div class="buttons">
          <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST"> 
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}