{% extends "base.html" %}
{% block content %}

<form action="/categories/{{category.id}}" method="post">
  <div>
    <label for="main_category_name">Main Category Name:</label>
    <input type="text" id="main_category_name" name="main_category_name" value="{{category.main_cat}}" required autofocus>
  </div>

  <div>
    <label for="sub_category_name">Sub Category Name:</label>
    <input type="text" id="sub_category_name" name="sub_category_name" value="{{category.sub_cat}}" required>
  </div>
  


  <button class="submit" type="submit">Update Category</button>

</form>

{% endblock %}