{% extends "base.html" %}

{% block activenewcat %}

class="active"

{% endblock %}

{% block content %}
<h1>Add a New Category</h1>
<br>
<p>Please enter details below to add a new Category.</p>

<div class="new-form">
  <form action="/categories" method="post">

    <label for="main_category_name">Main Category Name:</label>
    <input type="text" id="main_category_name" name="main_category_name" placeholder="Main Category Name" required autofocus>

    <label for="sub_category_name">Sub Category Name:</label>
    <input type="text" id="sub_category_name" name="sub_category_name" placeholder="Sub Category Name" required>

    <button class="submit" type="submit">Add category</button>
  
  </form>
</div>
{% endblock %}