{% extends "base.html" %}

{% block content %}

  <div class="show-form new-form">
    <h2>{{category.main_cat}}</h2>
    <hr>
    <h3>Category: {{category.sub_cat}}</h3>
    <p><a href="/categories/{{category.id}}/edit">Edit</a></p>
    <br>
    <a href="/categories/{{category.id}}/edit"><i class="fa-solid fa-pen-to-square fa-2xl"></i></a>
  </div>

<br>
<table id="table">
  <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>PO Number</th>
      <th>Date</th>
      <th>Amount</th>
      <th></th>
  </tr>


  {% for transaction in transactions %}

  <tr>
      <td><a href="/transactions/{{transaction.id}}" class="rowlink">{{transaction.product}}</a></td>
      <td>{{transaction.category.sub_cat}}</td>
      <td>{{transaction.supplier.supplier_name}}</td>
      <td>{{transaction.po_number}}</td>
      <td>{{transaction.date}}</td>
      <td>£{{transaction.price}}</td>
      <td class="table-buttons">
          <a href="/transactions/{{transaction.id}}/edit"><i class="fa-solid fa-pen-to-square small-icon"></i></a>
          <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST"> 
            <button class="trash-button"><i class="fa-solid fa-trash-can small-icon"></i></button>
          </form>
      </td>
  </tr>

  {% endfor %}
</table>

{% endblock %}