* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 20rem auto;
  font-family: 'Roboto', sans-serif;
  background-color: aliceblue;
}

main {
  margin-top: 2rem;
  margin-left: 3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.top-buttons {
  background-color: #DEE2E6;
  color: #343E40;
  width: 250px;
  height: 150px;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: block;
  border-radius: 7%;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
}

.add-transaction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-transaction a {
  text-decoration: none;
  color: #343E40;
}

.add-transaction a:hover{
  cursor: pointer;
  color: #e64e4e;
}

.totals {
  margin-top: 2.5rem;
}

.home-screen-buttons {
  display: grid;
  grid-template-columns: repeat(3, 23rem);
  grid-template-rows: repeat(2, 13rem);
  gap: 1rem;
}


.home-buttons {
  background-color: #DEE2E6;
  color: #343E40;
  width: 250px;
  height: 150px;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  border-radius: 7%;
  font-size: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.home-totals {
  margin-top: 2.5rem;
}

