header h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
  }
  
  header>nav {
    margin: 27px auto;
    width: 115rem;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  header nav ul li a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  header p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
  }
  
  nav a:hover{ 
    background-color: #e64e4e; 
    color: white; 
    border-radius: 5px;
  } 
  
  nav input {
    display: none;
  }
  
  nav ul li input:checked+a {
    background-color:#e64e4e;
    color:#fff;
  }