<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a2c2c4aa5c.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_navigation_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_form.css') }}">
    <title>Construcion Cost Tracker</title>
</head>

<body>
    <nav class="sticky flex-column">
        <h1><a href="/">Construction Cost Tracker</a></h1>
        <ul class="flex-column">
            <li>
                <a {% block activehome %} {% endblock %} href="/"><i class="fa-solid fa-house sideicon"></i> Home</a>
            </li>
            <br>
            <li>
                <a {% block activetrans %} {% endblock %}href="/transactions"><i class="fa-solid fa-money-bill-transfer sideicon"></i> Transactions</a> 
            </li>
            <li>
                <a {% block activenewtrans %} {% endblock %}href="/transactions/new"><i class="fa-solid fa-circle-plus sideicon"></i> New Transaction</a> 
            </li>
            <br>
            <li>
                <a {% block activesupplier %} {% endblock %}href="/suppliers"><i class="fa-solid fa-shop sideicon"></i> Suppliers</a> 
            </li>
            <li>
                <a {% block activenewsupplier %} {% endblock %}href="/suppliers/new"><i class="fa-solid fa-circle-plus sideicon"></i> New Supplier</a> 
            </li>
            <br>
            <li>
                <a {% block activecat %} {% endblock %}href="/categories"><i class="fa-solid fa-tags sideicon"></i> Categories</a> 
            </li>
            <li>
                <a {% block activenewcat %} {% endblock %}href="/categories/new"><i class="fa-solid fa-circle-plus sideicon"></i> New Category</a> 
            </li>
        </ul>
    </nav>
<main>
    {% block content %}
    {% endblock %}
</main>


</body>

</html>