{% extends "base.html" %}

{% block activehome %}

class="active"

{% endblock %}

{% block content %}
<h1>Welcome to the Construction Cost Tracker</h1>
<br>
<section>
    <p>Before adding any transactions, please add some approved suppliers which transactions will be made with. This will allow you to easily keep track of the supplier for each transaction and also quickly access contact details for the respective supplier.</p>
    <br>
    <p>Categories can be created and used to categorise all of your transactions. The total cost for your project will automatically be displayed, however by adding categories, this will allow further totals to be displayed for the specific categories you would like to track!</p>
</section>
<section class="buttons">
  <div class="top-buttons add-transaction">
    <a href="/suppliers/new">
        <p>Add Supplier</p>
        <i class="fa-solid fa-shop fa-3x"></i>
    </a>
  </div>
  <div class="top-buttons add-transaction">
    <a href="/categories/new">
        <p>Add Category</p>
        <i class="fa-solid fa-tags fa-3x"></i>
    </a>
  </div>
  <div class="top-buttons add-transaction">
    <a href="/transactions/new">
        <p>Add Transaction</p>
        <i class="fa-solid fa-money-bill-transfer fa-3x"></i>
    </a>
  </div>
</section>
<hr>
<br>
<section class="parent">
  <h1>Statistics</h1>
  <br>
  <div class="home-screen-buttons">
    <div class="home-buttons">
      <h5>Total Costs:</h5>
      <h2 class="home-totals">£{{total}}</h2>
    </div>
    <div class="home-buttons">
      <h5>Number of Transactions:</h5>
      <h2 class="home-totals">{{number_transactions}}</h2>
    </div>
    <div>
      <img src="static/graphs/cost_by_cat.png" onerror="this.onerror=null;this.src='static/graphs/default.png';" alt="Cost by Category">
    </div>
    <div class="home-buttons">
      <h5>Number of Suppliers:</h5>
      <h2 class="home-totals">{{number_suppliers}}</h2>
    </div>
    <div class="home-buttons">
      <h5>Number of Categories:</h5>
      <h2 class="home-totals">{{number_categories}}</h2>
    </div>
  </div>
</section>

{% endblock %}