{% extends "base.html" %}

{% block activenewtrans %}

class="active"

{% endblock %}

{% block content %}
<h1>Add a New Transaction</h1>
<br>
<p>Please enter details below to add a new Transaction.</p>

<div class="new-form">
  <form action="/transactions" method="post">

      <label for="supplier">Select a Supplier:</label>
      <select name="supplier_id" id="supplier" required>
        <option value=""selected disabled> Select a Supplier </option>
        {% for supplier in all_suppliers %}
        <option value="{{supplier.id}}">
          {{supplier.supplier_name}}
        </option>
        {% endfor %}
      </select>
    

      <label for="category">Select a Category:</label>
      <select name="category_id" id="category" required>
        <option value=""selected disabled> Select a Category </option>
        {% for category in all_categories %}
        <option value="{{category.id}}">
          {{category.main_cat}} - {{category.sub_cat}}
        </option>
        {% endfor %}
      </select>

      <label for="product">Product:</label>
      <input type="text" id="product" name="product" placeholder="Product" required autofocus>

      <label for="price">Price: £</label>
      <input type="number" id="price" name="price" placeholder="Price (£)" required autofocus>

      <label for="po_number">PO Number:</label>
      <input type="text" id="po_number" name="po_number" placeholder="PO Number" required autofocus>

      <label for="order_date">Date:</label>
      <input type="text" placeholder="Order Date" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">

      <label for="invoice_number">Invoice Number:</label>
      <input type="text" id="invoice_number" name="invoice_number" placeholder="Invoice Number" required>

    
    <button class="submit" type="submit">Add Transaction</button>
    
  </form>
</div>
{% endblock %}